* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.contact {
  padding: 100px 10% 0 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30%;
  background-color: #c70039;
}
.contact .contact-image {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}
.contact .contact-image .profile-image {
  width: 100%;
  margin-bottom: 20px;
}
.contact .contact-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}
.contact .contact-info .contact-mail .mail {
  font-size: 1.5rem;
}
.contact .contact-info .contact-mail a {
  text-decoration: underline;
  color: black;
  cursor: pointer;
  margin-top: 15px;
  font-size: 1rem;
}
.contact .contact-info .contact-phone .phone {
  font-size: 1.5rem;
}
.contact .contact-info .contact-phone a {
  text-decoration: underline;
  color: black;
  cursor: pointer;
  margin-top: 15px;
  font-size: 1rem;
}
.contact .contact-info .contact-adress .adress {
  font-size: 1.5rem;
}
.contact .contact-info .contact-adress a {
  text-decoration: underline;
  color: black;
  cursor: pointer;
  margin-top: 15px;
  font-size: 1rem;
}

.spacer {
  aspect-ratio: 960/200;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}

.layer2 {
  background-image: url("../assets/svg/layer3bis.svg");
}

@media (max-width: 820px) {
  .contact {
    flex-direction: column;
    gap: 0;
    padding: 100px 10% 0 10%;
  }
  .contact .contact-image {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact .contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    margin-top: 50px;
  }
  .contact .contact-info .contact-mail .mail {
    font-size: 2rem;
  }
  .contact .contact-info .contact-mail a {
    text-decoration: underline;
    color: black;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1.5rem;
  }
  .contact .contact-info .contact-phone .phone {
    font-size: 2rem;
  }
  .contact .contact-info .contact-phone a {
    text-decoration: underline;
    color: black;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1.5rem;
  }
  .contact .contact-info .contact-adress .adress {
    font-size: 2rem;
  }
  .contact .contact-info .contact-adress a {
    text-decoration: underline;
    color: black;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .contact {
    flex-direction: column;
    gap: 0;
    padding: 100px 10% 0 10%;
  }
  .contact .contact-image {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact .contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    margin-top: 50px;
  }
  .contact .contact-info .contact-mail .mail {
    font-size: 1.5rem;
  }
  .contact .contact-info .contact-mail a {
    text-decoration: underline;
    color: black;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1rem;
  }
  .contact .contact-info .contact-phone .phone {
    font-size: 1.5rem;
  }
  .contact .contact-info .contact-phone a {
    text-decoration: underline;
    color: black;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1rem;
  }
  .contact .contact-info .contact-adress .adress {
    font-size: 1.5rem;
  }
  .contact .contact-info .contact-adress a {
    text-decoration: underline;
    color: black;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1rem;
  }
}/*# sourceMappingURL=contact.css.map */