$couleur-primaire : #ff5733;
$couleur-secondaire : #900c3e;
$couleur-ternaire : #571845;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.about-me {
    padding: 100px 10% 0px 10%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $couleur-primaire;


    .profile-picture {
        border-radius: 50%;
    }

    .name {
        margin: 10px 0px;
        font-size: 2rem;
    }

    .description {
        text-align: center;
        font-size: 1rem;
    }
}


.spacer {
    aspect-ratio: 960/200;
    width : 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding : 0;
    margin: 0;
}

.layer1 {
    background-image: url("../assets/svg/layer1.svg");
}

.layer2 {
    background-image: url("../assets/svg/layer2.svg");
}

.studies {
    padding: 100px 10% 0 10%;
    background-color : $couleur-ternaire;
    color : white;


    .title {
        font-size: 2rem;
        margin-bottom: 30px;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
    }


    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .mySlides {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .text {
                color: black;
                font-size: 2rem;
                padding: 8px 12px;
                width: 100%;
                text-align: center;
                color : white;
            }

            .date {
                color: black;
                font-size: 1rem;
                padding: 8px 12px;
                width: 100%;
                text-align: center;
                color : white;
            }
        }

        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            width: auto;
            padding: 16px;
            color: $couleur-primaire;
            font-weight: bold;
            font-size: 18px;
            user-select: none;
        }

        /* Fading animation */
        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @keyframes fade {
            from {
                opacity: .4
            }

            to {
                opacity: 1
            }
        }
    }

    /* The dots/bullets/indicators */
    .dots {
        text-align: center;

        .dot {
            cursor: pointer;
            height: 10px;
            width: 10px;
            margin: 0 5px;
            background-color: #717171;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active,
        .dot:hover {
            background-color: #bbb;
        }
    }
}
